@model APPR6312_POE.ViewModel.DisasterGoodsCreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Feel free to Donate Goods to a Active Disaster</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.DisasterGoods.Disaster" class="control-label"></label>
                <select asp-for="@Model.DisasterGoods.Disaster" class="form-control" asp-items="@Model.DisasterData">
                    <option value="">Select Active Disaster</option>
                </select>
                <span asp-validation-for="@Model.DisasterGoods.Disaster" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <span asp-validation-for="@Model.DisasterGoods.Category" class="control-label">Categories</span>
                <select asp-for="@Model.DisasterGoods.Category" class="form-select" aria-required="true">
                    <option>Clothes</option>
                    <option>Non-perishable foods</option>
                </select>

            </div>
            <div class="form-group">
                <label asp-for="@Model.DisasterGoods.NumOfItems" class="control-label"></label>
                <input asp-for="@Model.DisasterGoods.NumOfItems" class="form-control" />
                <span asp-validation-for="@Model.DisasterGoods.NumOfItems" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.DisasterGoods.Description" class="control-label"></label>
                <input asp-for="@Model.DisasterGoods.Description" class="form-control" />
                <span asp-validation-for="@Model.DisasterGoods.Description" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
