@model APPR6312_POE.ViewModel.DisasterMoneyCreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Feel free to Donate Money to a Active Disaster</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.DisasterMoney.Disaster" class="control-label"></label>
                <select asp-for="@Model.DisasterMoney.Disaster" class="form-control" asp-items="@Model.DisasterData" >
                    <option value="">Select Active Disaster</option>
                    </select>
                <span asp-validation-for="@Model.DisasterMoney.Disaster" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.DisasterMoney.Amount" class="control-label"></label>
                <input asp-for="@Model.DisasterMoney.Amount" class="form-control" />
                <span asp-validation-for="@Model.DisasterMoney.Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
