@model IEnumerable<APPR6312_POE.Models.MonetaryDon>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/sketch.css" />
<style>
    body {
        background-color: orange;
    }

    .table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
        background-color: rebeccapurple; /* Light purple background color */
        border-radius: 10px; /* Rounded corners */
        overflow: hidden; /* Hide overflow content for rounded corners */
    }

        .table th, .table td {
            border: 1px solid #dddddd;
            padding: 8px;
            text-align: left;
        }

        .table th {
            background-color: #f2f2f2;
        }

        .table tbody tr:nth-child(odd) {
            background-color: #f9f9f9;
        }

        .table tbody tr:hover {
            background-color: #d9edf7;
        }

        .table a {
            text-decoration: none;
            color: #007bff;
        }

</style>



<div class="text-center">
    <h1>Monetary Data <i class="bi bi-currency-dollar"></i></h1>
    <br />
    

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Datedata)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Datedata)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

